@use '../variables' as *;

/* =========================
   Registrar Hero
========================= */
section {
  padding-top: 8vh;
}

.registrar-hero {
  background-color: $blue-dark;
  display: flex;
//   justify-content: center;
  align-items: center;
}

.registrar-title {
  font-size: $fs-h1;
  margin-bottom: 1rem;
}

.registrar-subtitle {
  font-size: $fs-body;
  color: $gray-300;
  max-width: 540px;
}

/* =========================
   Registrar Info
========================= */
.registrar-info {
  background-color: $blue-mid;
}

.registrar-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.registrar-card {
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 14px;
  padding: 2rem;
  height: 300px;

  transition: transform 0.25s ease, border-color 0.25s ease;

  h3 {
    font-size: $fs-h3;
    margin-bottom: 0.75rem;
    color: $white;
  }

  p {
    font-size: $fs-body;
    line-height: $lh-normal;
    color: $gray-100;

    strong {
      color: $white;
      font-weight: $fw-semibold;
    }
  }

  &:hover {
    // transform: translateY(-4px);
    border-color: $gold-main;
  }
}


/* =========================
   Responsive
========================= */
@media (max-width: 800px) {
  .registrar-hero {
    padding-top: 30vh;
  }
  .registrar-grid {
    grid-template-columns: 1fr;
  }
}
